@use "./base.scss";

// put your custom CSS here!
a.internal {
    text-decoration: underline;
    color: var(--darkgray);

    &.tag-link {
        text-decoration: none; // Ensure tag-link is not underlined
    }
    
  }

  a.external {
    color: var(--darkgray);
  }

  // Override for internal links within RecentNotes component
.recent-notes a.internal {
    text-decoration: none; // Ensure internal links within RecentNotes are not underlined
  }