@use "./base.scss";

// put your custom CSS here!
a.internal {
    text-decoration: underline;
    color: var(--darkgray);
  
    &.tag-link {
      text-decoration: none; // Ensure tag-link is not underlined
    }
  }
  
  // Custom styles for external links
  a.external {
    color: var(--darkgray);
  }