@use "./base.scss";

// put your custom CSS here!
a.internal {
    text-decoration: underline;
    font-weight: lighter;
    color: var(--darkgray);

    &.tag-link {
        text-decoration: none; // Ensure tag-link is not underlined
    }
    
  }

  a.external {
    color: var(--darkgray);
  }

  // Override for internal links within RecentNotes component
.recent-notes a.internal {
    text-decoration: none; // Ensure internal links within RecentNotes are not underlined
  }

// Custom styles for table headers
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-weight: lighter; // Adjust the font weight to make it thinner
}

// Override page-title font weight
.page-title {
  font-weight: lighter; 
}

